.tags-container {
    margin: 2rem auto;
    flex: content;

    .tag {
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid $primary-color;
        overflow: hidden;
        margin: 0.6rem 0.3rem;

        .tag-header {
            margin-bottom: 0.7rem;
        }

        .tag-description {
            font-size: 0.9rem;

            p {
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }
}

.tagInfo-description {

    p {

        padding: 0.5rem;
        margin: 1rem 0 0 0;
        border-radius: 5px;


    }
}

.tag-detail {
    p {
        padding: 0.2rem;
    }

    em {
        color: $default-blue;
    }
}

.background-gradient {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    padding: 0.5rem;

    a {
        color: $default-green;
    }
}